
Android/assets/thumbnails/style12.jpg

.gradle/4.1/fileChanges/last-build.bin

.gradle/4.1/fileContent/fileContent.lock

Android/assets/tensorflow_inception_graph.pb

Android/gradleBuild/intermediates/instant-run-resources/resources-debug.ir.ap_

Android/gradleBuild/outputs/apk/debug/android-debug.apk
